<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="index.html"><img src="/assets/images/logo/logo.png" alt="Logo"></a>
            </div>
            <h1 class="auth-title">Inscrever-se</h1>
            <p class="auth-subtitle mb-5">Entre com seus dados para se registrar.</p>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group position-relative has-icon-left mb-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",  class: "form-control form-control-xl"%>
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />

                    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Senha",  class:"form-control form-control-xl" %>
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-xl", placeholder: "Confirma a senha" %>
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Sign Up</button>
                <%= f.submit "Inscreva-se", data: { turbo: false },  class:"btn btn-primary btn-block btn-lg shadow-lg mt-5" %>
                </div>
            <% end %>
            <div class="text-center mt-5 text-lg fs-4">
                <p class='text-gray-600'>Já tem uma conta? <a href="/users/sign_in" class="font-bold">Conecte-se</a>.</p>
            </div>
        </div>
    </div>
</div>
